.idea
/Assets
/Binaries
/Content
/DerivedDataCache
/Intermediate
/Saved
/AncientTreasures.png
/.vsconfig
/.editorconfig
/ARPG_Course.sln
/ARPG_Course.unrealvs
/shadertoolsconfig.json

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace